{%extends "HeadFoot.html"%}

{%load static%}

{%block content%}
<div class="about">
  <div class="container contact-section">
    <div class="row">
        <!-- Descripción del negocio -->
        <div class="contact-description">
            <h2>Ubicación</h2>
            <p>Ubicados al Norte de Quito.</p>
            <p>Direccion: <br>Av. Machala y Nicolás Vélez </p>
        </div>

        <!-- Imagen del negocio -->
        <div class="imgCont" >
            <img src="{% static 'img/tienda.jpg' %}" alt="Our Business" class="contact-image">
        </div>
    </div>
</div>

</div>
    

{%endblock%}