{% extends "HeadFoot.html" %}
{% load static %}

{% block content %}
<section>
    <!-- Container (TOUR Section) -->
    <div id="tour" class="bg-1">
        <div class="titulo"> <h2>Descripción de Productos</h2> </div>

            <div class="contDesc">
                <div class="imgProd"><img  src=" {{ producto.foto.url }} " alt="Producto" >
                </div>

                <div class="contProd">
                    <div class="catpr"><p>{{ producto.categoria }}</p></div>
                    <div class="titProd"><h3>{{ producto.nombreProd }}</h3></div>
                    <div class="marcapr">
                        <p>{{ producto.marca }} </p>
                    </div>
                    <div class="cantProd">
                        <p>Cantidad: <span>{{ producto.cantidad }} </span></p>
                    </div>
                    <div class="Descrip">
                        <strong><p>Descripción </p></strong>
                        <br>
                        <p> {{ producto.descripcion }} </p>
                    </div>
                    <div class="preciopr">
                        <h4>Precio: {{ producto.precio }} </h4>
                    </div>
                </div>
                
            </div>
    </div>
</section>
{% endblock %}
