{% extends "HeadFoot.html" %}

{% load static %}

{% block content %}
    <section>
        <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
            <form method="post" class="row g-3">
                {% csrf_token %}
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="form-control {% if form.nombre.errors %}is-invalid{% endif %}" value="{{ form.nombre.value|default_if_none:'' }}" required>
                    {% if form.nombre.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.nombre.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <div class="col-md-6">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" name="apellido" id="apellido" class="form-control {% if form.apellido.errors %}is-invalid{% endif %}" value="{{ form.apellido.value|default_if_none:'' }}" required>
                    {% if form.apellido.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.apellido.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <div class="col-md-6">
                    <label for="correo" class="form-label">Correo</label>
                    <input type="email" name="correo" id="correo" class="form-control {% if form.correo.errors %}is-invalid{% endif %}" value="{{ form.correo.value|default_if_none:'' }}" required>
                    {% if form.correo.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.correo.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <div class="col-md-6">
                    <label for="contraseña" class="form-label">Contraseña</label>
                    <input type="password" name="contraseña" id="contraseña" class="form-control {% if form.contraseña.errors %}is-invalid{% endif %}" value="{{ form.contraseña.value|default_if_none:'' }}" required>
                    {% if form.contraseña.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.contraseña.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <div class="col-12">
                    <label for="Dir1" class="form-label">Calle Principal</label>
                    <input type="text" name="Dir1" id="Dir1" class="form-control {% if form.Dir1.errors %}is-invalid{% endif %}" 
                    placeholder="{{ form.Dir1.value|default_if_none:'' }}" >
                    {% if form.Dir1.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.Dir1.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <div class="col-12">
                    <label for="Dir2" class="form-label">Calle Secundaria</label>
                    <input type="text" name="Dir2" id="Dir2" class="form-control {% if form.Dir2.errors %}is-invalid{% endif %}" placeholder="{{ form.Dir2.value|default_if_none:'' }}" required >
                    {% if form.Dir2.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.Dir2.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <div class="col-md-6">
                    <label for="Ciudad" class="form-label">Ciudad</label>
                    <input type="text" name="Ciudad" id="Ciudad" class="form-control {% if form.Ciudad.errors %}is-invalid{% endif %}" value="{{ form.Ciudad.value|default_if_none:'' }}" required>
                    {% if form.Ciudad.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.Ciudad.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
