{% extends "HeadFoot.html" %}

{% load static %}

{% block content %}
    <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
        <form method="post" class="row g-3" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Registro de Productos</h2>
            
            <div class="col-md-6">
                <label for="nombreProd" class="form-label">Nombre del Producto</label>
                <input type="text" name="nombreProd" maxlength="100" class="form-control {% if form.nombreProd.errors %}is-invalid{% endif %}" id="nombreProd" value="{{ form.nombreProd.value|default_if_none:'' }}" required>
                {% if form.nombreProd.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.nombreProd.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="col-md-6">
                <label for="marca" class="form-label">Marca</label>
                <input type="text" name="marca" maxlength="50" class="form-control {% if form.marca.errors %}is-invalid{% endif %}" id="marca" placeholder="{{ form.marca.value|default_if_none:'' }}" required>
                {% if form.marca.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.marca.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <div class="col-md-6">
                <label for="categoria" class="form-label">Categoría del Producto</label>
                <select name="categoria" class="form-select {% if form.categoria.errors %}is-invalid{% endif %}" id="categoria" required>
                    <option value="" selected>Seleccione...</option>
                    <option value="Alimentos">Alimentos</option>
                    <option value="Aseo">Aseo</option>
                    <option value="Ropa">Ropa</option>
                </select>
                {% if form.categoria.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.categoria.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <div class="col-md-6">
                <label for="cantidad" class="form-label">Cantidad del Producto</label>
                <input type="number" name="cantidad" class="form-control {% if form.cantidad.errors %}is-invalid{% endif %}" id="cantidad" min="0" max="9999" step="1" placeholder="{{ form.cantidad.value|default_if_none:'' }}" required>
                {% if form.cantidad.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.cantidad.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="col-md-6">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" name="precio" class="form-control {% if form.precio.errors %}is-invalid{% endif %}" id="precio" min="0" max="999.99" step="0.01"  required>
                {% if form.precio.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.precio.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="col-md-6">
                <label for="foto" class="form-label">Subir Foto</label>
                <input type="file" name="foto" class="form-control {% if form.foto.errors %}is-invalid{% endif %}" id="foto" accept="image/*">
                {% if form.foto.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.foto.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="col-md-6">
                <label for="descripcion" class="form-label">Descripción del Producto</label>
                <textarea name="descripcion" class="form-control {% if form.descripcion.errors %}is-invalid{% endif %}" id="descripcion" rows="5" required></textarea>
                {% if form.descripcion.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.descripcion.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Registrar Producto</button>
            </div>
        </form>
    </div>
{% endblock %}
